<!DOCTYPE html>
<html>
    <head>
        <title>Woj-Chat answer creator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <script>
            // Category and message need to be given, question is optional
            function checkData() {
                if ((document.getElementById("categoryBox").value === "") ||
                   (document.getElementById("messageBox").value === ""))
                {
                    return false;
                }
            }
        </script>
        <h2>EVERYTHING YOU SUBMIT HERE WILL BE UPLOADED TO THE DATABASE <br />Please don't be a dick...</h2>
        <form action="/addAnswer" method="POST" onsubmit="return checkData()">
            <input type="text" id="categoryBox" placeholder="Category" name="category">
            <br />
            <input type="text" id="questionBox" placeholder="Question" name="questions" />
            <br />
            <textarea type="text" id="messageBox" name="message" rows="4" cols="50" placeholder="Write your answer..."></textarea>
            <br />
            <input type="submit" id="uploadpost-btn" value="upload">
        </form>
        
        <br /><hr /><br />
        
        <form action="/showAnswers" method="post">
            <input type="submit" value="Load existing answers" />
        </form>

        <ul class="existingAnswers">
            <% for(var i=0; i < answers.length; i++) {%>
            <li class="viestit">
                <p>category: <span><%= answers[i].category %></span></p>
                <p>question: <span><%= answers[i].question %></span></p>
                <p>message: <span><%= answers[i].message %></span></p>
                <hr>

            </li>
            <% } %>
        </ul>
     </body>
</html>

