<!DOCTYPE html>
<html>
    <head>
        <title>Woj-Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="alternate" href="chat.ejs"
    </head>
    <body>
        <script>
            var qResult = <%= qResult %>;
            console.log(qResult);
        </script>
     </body>
</html>

