<!DOCTYPE html>
<html>
    <head>
        <title>Woj-Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <div style="display:none">  <!-- almost spaghetti, this is just a place where to collect the query results to use in the javascript file -->
            <% for(var i=0; i<qResult.length; i++) {%>
            <li class="viestit">
                <span><%= qResult[i].message %></span>
            </li>
            <% } %>
        </div>

        <h1>Welcome to Woj-Chat!</h1>
        <br />
        <hr />
        <br />
        <div class="w3-container w3-cell">
            <form method="post" action="/query">
                <textarea id="MessageBox" rows="4" name="Your message" cols="50" placeholder="Feel free to ask Wojciech anything!"></textarea>
                <br />
                <input type="submit" id="msgSubmitBtn" value="Send message" />
            </form>
        </div>

        <div class="w3-container w3-cell">
            <textarea class="answers" id="Answer" name="Answer:" rows="4" cols="50" placeholder="Wojciech's answers will be shown here!"><%= qResult[1].message %></textarea>
        </div>

    </body>
</html>

